.help-dialog-container{
    padding: 20px;
    max-height: 50vh;
    max-width: 60vw;
    min-width: 60vw;
}

.x-close {
    cursor: pointer;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--pylab-accent);
}

h3{
    margin: 10px 0px;
    color: var(--pylab-primary);
}

p{
    text-align: justify;
    color: var(--pylab-accent);
    line-height: 25px;
}

.help{
    margin: 10px 0px;
    padding: 10px 0px 20px 0px;
}