<div class="help-dialog-container">
    <section class="header">
      <h2>Ayuda</h2>
      <mat-icon (click)="dialogRef.close()" class="x-close">close</mat-icon>
    </section>
    <section class="help">
      <h3>¿Qué Pylab?</h3>
      <p>
        Pylab es una aplicación web que te permite entender diferentes algoritmos de una forma sencilla y divertida. Vas a
        poder explorar conceptos fundamentales de programación y algoritmos a tu propio ritmo.
      </p>
      <h3>¿Cómo se ejecuta un algoritmo en Pylab?</h3>
      <p>1) Seleccioná un tema que quieras aprender desde la <a href="/home" target="_blank">pantalla principal</a>. Esto
        te llevará a una
        lista de programas relacionados, ordenados según dificultad de menor a
        mayor.</p>
      <p>2) Hacé click en "Ver Ejemplo" para acceder a un algoritmo en particular.</p>
      <p>3) Ejecutá el paso a paso! Para esto podes elegir avanzar de una línea por vez de manera manual o de manera
        automática, eligiendo la velocidad. A medida que avances, podés ver como van variando las variables y los
        outputs.</p>
    </section>
  </div>