<div id="diagram-container">
    <div class="output-container">
        <p class="title">OUTPUT</p>
        <p id="output" [innerHTML] = "print"></p>
    </div>
    <div class="variables-container">
        <p class="title">VARIABLES</p>
        <div class="contexts"> 
            @for (context of contextsKeys; track $index) {
                <div class="context">
                    <p class="context-title">{{ context.name }}</p>
                    @for (variable of getVariableKeys(context); track $index) {
                        <div class="variable">
                            <mat-label> {{ variable }}: {{ getVariableValues(context, variable) }}</mat-label>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>