*{
    color: var(--pylab-accent)
}

:host{
    display: block;
    height: 100vh;
    overflow: auto;
}

.programs-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 15px;
}

.program {
    border-radius: 10px;
    padding-top: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    min-width: 350px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    padding: 15px;
}

h3{
    width: 70%;
    color: var(--pylab-accent);
    letter-spacing: 1px;
}

.stars {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .icons{
        display: flex;
        flex-direction: row;
    }

    mat-icon{
        color: var(--pylab-primary);

        &.not-filled{
            color: rgba(var(--pylab-accent-rgb), 0.2);
        }
    }

}

button{
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    line-height: 30px;
}

@media (min-width: 1000px) {
    .program{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 10px;
        padding: 0px;
        position: relative;
    }

    .stars{
        flex-wrap: nowrap;
    }

    .header{
        width: 80%;
    }

    button{
        width: fit-content;
        border-top-left-radius: 30px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 0px;
        height: 100%;
        position: absolute;
        right: 0;
    }
}

@media (max-width: 600px) {
    .header{
        flex-direction: column;
        gap: 10px;
        padding: 15px;
    }

    .stars{
        width: 100%;
        justify-content: start;
    }

    h3{
        width: 100%;
        font-size: 17px;
    }

}



