@if (!loadingList){
    <div class="programs-container">
        @for (program of programs; track $index) {
            <div class="program">
                <section class="header">
                    <h3>{{ program.title }}</h3>
                    <div class="stars">
                        <span style="margin-right: 5px;">Dificultad:</span>
                        <section class="icons">
                            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                                <mat-icon *ngIf="star <= program.difficulty">star</mat-icon>
                                <mat-icon *ngIf="star > program.difficulty" class="not-filled">star_border</mat-icon>
                            </ng-container>
                        </section>                      
                    </div>
                </section>
                <button mat-flat-button color="primary" (click)="goToDisplay(program)">Ver Ejemplo</button>
            </div>
        }
    </div>
} @else {
<app-spinner [loading]="loadingList"></app-spinner>
}