<div class="general-container">
    <section id="editor-container">
        <!-- Editor de código -->
    </section>

    <section class="buttons-container">
        <button class="icon" [class]="isRunning && !isPaused? 'disabled': ''" mat-icon-button [disabled]="(isRunning && !isPaused) || (highlightLine == 1 && !previousActivated)" aria-label="previous-arrow" (click)="previousLine()">
            <mat-icon aria-hidden="false" fontIcon="arrow_back_ios"></mat-icon>
        </button>
    
        <button class="icon" [class]="isRunning && !isPaused? 'disabled': ''" mat-icon-button [disabled]="isFinished || (isRunning && !isPaused)" aria-label="next-arrow" (click)="nextLine()">
            <mat-icon fontIcon="arrow_forward_ios"></mat-icon>
        </button>

        <button class="icon" [class]="isRunning && !isPaused? 'disabled': ''" mat-icon-button [disabled]="isRunning && !isPaused" aria-label="play" (click)="play()">
            <mat-icon mat-icon aria-hidden="false" fontIcon="play_arrow"></mat-icon>
        </button>

        <button class="icon" mat-icon-button [disabled]="isPaused" aria-label="pause" (click)="pause()">
            <mat-icon aria-hidden="false" fontIcon="pause"></mat-icon>
        </button>

        <mat-icon class="icon" aria-hidden="false" aria-label="redo" fontIcon="redo" (click)="reset()"></mat-icon>
        <button mat-button [class]="isPaused? 'disabled': ''"  [matMenuTriggerFor]="menu" #menuTrigger class="velocity-button" [disabled]="isRunning && !isPaused">Velocidad</button>
        <mat-menu #menu="matMenu">
            @for (velocity of velocities; track $index) {
                <mat-label mat-menu-item (click)="setVelocity(velocity)">{{velocity}}</mat-label>
            }
        </mat-menu>

        <mat-icon class="execution-info" [class]="isFinished? 'finished': 'executing'" aria-hidden="false" aria-label="checked" fontIcon="check_circle_outline"></mat-icon>
    </section>
    
</div>
