:host{
    display: block;
    height: 80vh;
    padding: 0px 15px;
}

.program-title{
    margin: 15px;
    color: var(--pylab-accent);
    
    button{
        border: none; 
        background-color: transparent;
    }

    mat-icon{
        color: var(--pylab-accent);
    }
}


#program-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    height: 100%;

    .view-container{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        min-height: 40vh;
    }
}

@media (max-width: 650px) {
    .program-title{
        font-size: 1em;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1em;
    }

    #program-container {
        grid-template-columns: 1fr;
    }
}