<div class="general-container">
    <h1>
        {{title}}
        <button mat-icon-button type="button" style="border: none; background-color: white;" (click)="openDialog(program)">
            <mat-icon>info</mat-icon>
          </button>
    </h1>
    
    <div class="grid-container">
            <app-code-view class="left" [inputs]="inputs" [code]="code"></app-code-view>
        <section class="right">
            <app-variable-view class="right-top"></app-variable-view>
            <app-comments-view class="right-bottom"></app-comments-view>
        </section>
    </div>
</div>