:host{
    display: block;
    height: 75vh;
}

.content{
    display: flex;
    gap: 30px;
    padding: 15px;
    max-width: 70vw;
    margin: 20px auto;
    flex-direction: column;
    justify-content: center;
    height: -webkit-fill-available;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.info, .img, .authors, .tutor{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 20rem;
}

.info{
    display: flex;
    gap: 15px;

    .right{
    }

    .left{
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        p{
            text-align: justify;
            color: var(--pylab-accent);
        }
        button{
            border-radius: 30px;
            margin: auto;
        }
    }
}

.authors, .tutor{
    grid-column: 1 / -1; 
    grid-row: 6;
    display: flex;
    flex-direction: column;

    h4{
        letter-spacing: 1px;
        color: var(--pylab-primary);
    }

    div{
        margin-top: 10px;
        flex-direction: row;

        a{
            margin: 0px 10px;
            text-decoration: none;
            color: var(--pylab-accent);
        }
    }
}