:host {
    display: block;
    height: 100vh;
    overflow: auto;
}

#intro-content {
    width: 80vw;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

p {
    text-align: justify;
    color: var(--pylab-accent);
}

.home-button {
    margin: 20px auto;
    border-radius: 30px;

}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.authors,
.tutor {
    text-align: center;

    h4 {
        letter-spacing: 1px;
        color: var(--pylab-primary);
        margin: 15px;
    }

    mat-chip {
        cursor: pointer;
        margin: 5px;
        overflow: hidden;
    }

    a {
        margin: 0px 10px;
        text-decoration: none;
        color: var(--pylab-accent);
        display: flex;
        align-items: center;
        gap: 5px;
    }

    p{
        text-align: center;
    }
}

.authors .names {
    margin: 10px;
}

@media (min-width: 700px) {
    img {
        &.fiuba{
            width: 25vw;

        }
        &.pylab{
            width: 15vw;
        }
    }
}

@media (max-width: 1000px) and (min-width: 700px) {
    img {
        &.fiuba{
            width: 30vw;

        }
        &.pylab{
            width: 20vw;

        }
    }
}

@media (max-width: 700px) and (min-width: 400px) {
    .content {
        width: 80vw;
    }

    .logos{
        flex-wrap: nowrap;
    }

    img {
        &.fiuba{
            width: 40vw;

        }
        &.pylab{
            width: 30vw;

        }
    }
}

@media (max-width: 400px) {
    .content {
        width: 90vw;
    }

    .logos{
        gap: 5px;
        margin-bottom: 15px;
    }

    img {
        &.fiuba{
            width: 60vw;

        }
        &.pylab{
            width: 30vw;

        }
    }
}